
@font-face {
	font-family: 'Pier';
	src: url('pier-bold.otf');
	font-weight: 700;
}


html, body {
	margin: 0;
}

body {
	background-color: #222;
	font-family: 'Pier', sans-serif;
	overflow: hidden;
	-webkit-transition: background-color 5s linear;
	        transition: background-color 5s linear;
}

span {
	position: absolute;
	top: 50%;
	left: 50%;
	color: #fff;
	font-size: 0;
	font-weight: 700;
	opacity: 0.875;
	text-transform: uppercase;
	-webkit-transform: translate(-50%, -50%);
	        transform: translate(-50%, -50%);
}
